<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
         <div class="nav">
            <nav> 
                <div class="devLogo"></div>
                <div class="links">
                    <a href="/">Home</a>
                    <a href="/salesPage">Sales</a>
                </div>
                <!-- <%# if(locals.user) { %>
                    <div class="welcome">
                        <p><i class="fa-solid fa-user"></i>: <%#= user.username%></p>
                        <a href="/logout">Logout <i class="fas fa-right-from-bracket"></i></a>
                    </div>
                <%# }else { %>
                    <div class="login">
                        <div class="adminLogin">
                            <a href="/adminLogin">Admin Login</a>
                        </div>
                        <div class="salesLogin">
                            <a href="/salesLogin">Sales Login</a>
                        </div>
                    </div>
                <%# } %> -->
            </nav>
        </div>
    </header>