<%- include("./partials/header.ejs") %>  
    <main class="indexMain">
        <div class="userLogo"></div>
        <div class="heading">
            <h1>
                ShopKeeper for Raphem Pharmacy
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci molestiae necessitatibus iure ipsa! A aliquid architecto eveniet. Veritatis, facere officiis?
            </p>
        </div>
        <div class="buttons">
            <div class="adminLogin">
                <a href="/adminLogin">Admin Login</a>
            </div>
            <div class="salesLogin">
                <a href="/salesLogin">Sales Login</a>
            </div>
        </div>
        <div class="cards">
            <div class="card sales">
                <div class="image">
                    <i class="fa-solid fa-store"></i>
                </div>
                <div class="card-title">
                    <a href="/salesPage">Start Selling</a>
                </div>
            </div>
            <div class="card sales">
                <div class="image">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="card-title">
                    <a href="/purchasePage">Purchases</a>
                </div>
            </div>
            <div class="card sales">
                <div class="image">
                    <i class="fa-solid fa-receipt"></i>
                </div>
                <div class="card-title">
                    <a href="/transactionPage">Transactions</a>
                </div>
            </div>
        </div>
    </main>
<%- include("./partials/footer.ejs") %>    